.booking {
  padding: 80px 0 80px;
  background-color: #440F51;
}

.booking__container {
  height: 954px;
  font-size: 16px;
}

.booking__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
}

.booking__fieldset {
  border: 0;
  padding: 0;
  margin-bottom: 60px;
}

.booking__fieldset:last-child {
  margin-bottom: 0;
}

.booking__legend {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.booking__legend_date {
  margin-bottom: 38px;
}

.booking__radio-btn-list {
  display: flex;
  gap: 60px;
}

.booking__radio-label {
  display: block;
  padding: 7px 15px 8px 15px;
  width: 250px;
  height: 55px;
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 3px solid #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  cursor: pointer;
  transition: background-color 0.4s, border 0.4s, color 0.4s;
}

.booking__radio-input {
  display: none;
}

.booking__radio-label:hover {
  background-color: #EADEED;
  border: 3px solid #640AA3;
}

.booking__radio-input:checked + .booking__radio-label {
  background-color: #FFFFFF;
  border: 3px solid #640AA3;
  color: #000000;
}

.booking__radio-label:active {
  background-color: #6C0287;
  border: 3px solid #FFFFFF;
  color: #FFFFFF;
}

.booking__fieldset-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.booking__fieldset_enterprize {
  flex-basis: 280px;
  height: 219px;
  margin: 0;
}

.enterprize-legend {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 23px;
}

.booking__enterprize-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.booking__enterprize-label {
  font-size: 22px;
  line-height: 25px;
  padding-left: 37px;
}

.booking__enterprize-label_radio {
  font-size: 22px;
  line-height: 25px;
  padding-left: 39px;
}

.booking__enterprize-checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking__enterprize-checkbox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 25px;
  height: 25px;
  background-color:#FFFFFF;
  transition: outline 0.4s;
}

.booking__enterprize-checkbox:focus::before{
  outline: 1px solid #CD06FF;
  outline-offset: 5px;
}

.booking__enterprize-checkbox::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 3px;
  width: 20px;
  height: 10px;
  border: 2px solid black;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.booking__enterprize-checkbox:checked::after {
  opacity: 1
}

.booking__enterprize-radio {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking__enterprize-radio:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 0px;
  background-image: url("../img/radio.svg");
  background-color:transparent;
  transition: outline 0.4s;
}

.booking__enterprize-radio:focus::before{
  outline: 1px solid #CD06FF;
  outline-offset: 2px;
}

.booking__enterprize-radio:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 6px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: black;
  opacity: 0;
}

.booking__enterprize-radio:checked:after {
  opacity: 1
}

.booking__date-list, .booking__name-list, .booking__contact-list {
  flex-basis: 300px;
}

.booking__date-list {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.booking__input {
  height: 52px;
  width: 100%;
  padding-left: 20px;
  transition: border 0.4s;
}

.booking__input::-moz-placeholder {
  color: #211E1E;
  font-size: 18px;
  line-height: 28px;
}

.booking__input::-webkit-input-placeholder {
  color: #211E1E;
  font-size: 18px;
  line-height: 28px;
}

.booking__input:focus {
  border: 2px solid #CD06FF;
  outline: none;
}

.booking__date-item {
  display: flex;
  gap: 32px;
}

.booking__date-item:first-child {
  padding-top: 22px;
}

.booking__input-label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
}

.booking__name-list, .booking__contact-list {
  display: flex;
  flex-direction: column;
  gap: 14px 0;
}

.booking__input_email {
  margin-bottom: 26px;
}

.booking__btn {
  width: 300px;
  height: 60px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #6C0287;
  border-radius: 10px;
  transition: background-color 0.4s, border 0.4s;
}

.booking__btn:hover {
  background-color: #EADEED;
  border: 3px solid #6C0287;
}

.booking__btn:focus {
  background-color: #FFFFFF;
  border: 3px solid #6C0287;
}

.booking__btn:active {
  background-color: #EADEED;
  border: 3px solid #EADEED;
}



