.contacts {
  padding-top: 55px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__container {
  height: 574px;
}

.contacts__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
}

.contacts__adress {
  display: flex;
  margin-bottom: 38px;
  align-items: center;
}

.contacts__adress-text {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  white-space: pre-line; 
  padding-left: 31px;
}

.contacts__phone {
  display: flex;
  margin-bottom: 10px;
}

.contacts__phone-text, .contacts__mail-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding-left: 31px;
}

.contacts__mail {
  display: flex;
  margin-bottom: 35px;
}

.contacts__social {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.contacts__social-link {
  display: block;
  height: 50px;
  width: 50px;
  transition: color 0.4s, border 0.4s;
}

.contacts__social-link:hover {
  color: #EADEED;
}

.contacts__social-link:focus {
  color: #EADEED;
  border: 1px solid #CD06FF;
}

.contacts__social-link:active {
  color: #CD06FF;
  border: none;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 156px;
}

.contacts__wrapper-2 {
  display: flex;
  justify-content: space-between;
}

.contacs__disigner {
  text-align: right;
}

.contacs__bottom-text:not(:last-child) {
  margin-bottom: 6px;
}

.contacs__bottom-text {
  font-size: 14px;
  line-height: 16px;
}
