.faq {
  padding: 50px 0 45px;
}

.faq__container {
  min-height: 611px;
  transition: height .4s ease-in-out
}

.faq__container_active {
  height: 825px;
}

.faq__title {
  height: 56px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq__list-item {
  background-color: var(--main-text-color);
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  position: relative;
}

.faq__list-item:nth-child(even) {
  color:var(--main-text-color);
  background-color: #440F51;
}

.faq__list-item-question-button {
  width: 46px;
  height: 46px;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background-image 0.4s;
}

.faq__list-item-question-button_even_active {
  background-color: #440F51;
  background-image: url("/img/open_active.svg");
}

.faq__list-item-question-button_even {
  background-color: #440F51;
  background-image: url("/img/open.svg");
}

.faq__list-item-question-button_even:hover{
  background-image: url("/img/open_hover.svg");
}

.faq__list-item-question-button_odd_active {
  background-color: #fff;
  background-image: url("/img/open-purple_active.svg");
}

.faq__list-item-question-button_odd {
  background-color: #fff;
  background-image: url("/img/open-purple.svg");
}

.faq__list-item-question-button_odd:hover{
  background-image: url("/img/open-purple_hover.svg");
}

.faq__list-item-question-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20.5px 70px;
}

.faq__list-item-text-wrapper {
  padding: 0 70px;
  height: 0;
  overflow: hidden;
  transition: height .4s ease-in-out, padding .4s ease-in-out;
  background-color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.faq__list-item-text-wrapper_active {
  height: 214px;
  padding: 56.5px 70px 20.5px 70px;
}

.faq__list-item-text_bold {
  font-weight: 700;
}

@media(max-width: 1024px) {
  .faq {
    padding: 35px 0 58px;
  }
  
  .faq__container {
    min-height: 393px;
  }
  
  .faq__title {
    height: 40px;
    margin-bottom: 26px;
    font-size: 30px;
    line-height: 40px;
  }

  .faq__list {
    gap: 16px;
  }
  
  .faq__list-item-question-wrapper {
    height: 69.5px;
    font-size: 20px;
    line-height: 24px;
    padding: 23px 25px;
  }

  .faq__list-item-text-wrapper {
    padding: 0 25px;
    font-size: 20px;
    line-height: 24px;
  }

  .faq__list-item-text-wrapper_active {
    height: 170px;
    padding: 56.5px 25px 20.5px 25px;
  }
  
  .faq__list-item:nth-child(even) {
    color: #1C1A1A;
    background-color: #FFFFFF;
  }

  .faq__list-item-question-button_even {
    background-color: #FFFFFF;
    background-image: url("/img/open-purple.svg");
  }

  .faq__list-item-question-button_even:hover {
    background-image: url("/img/open-purple_hover.svg");
  }

  .faq__list-item-question-button_even_active {
    background-color: #fff;
    background-image: url("/img/open-purple_active.svg");
  }
  
  .faq__list-item:last-child {
    display: none;
  }
}

@media(max-width: 768px) {
  .faq {
    padding: 30px 0 70px;
  }
  
  .faq__container {
    min-height: 383px;
  }
  
  .faq__title {
    height: 26px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 26px;
  }
  
  .faq__list {
    gap: 16px;
  }

  .faq__list-item-question-wrapper {
    font-size: 18px;
    line-height: 24px;
    padding: 23px 65px 20px 54px;
  }

  .faq__list-item-text-wrapper {
    padding: 0 54px;
    font-size: 18px;
    line-height: 24px;
  }

  .faq__list-item-text-wrapper_active {
    padding: 56.5px 65px 20.5px 54px;
  }
}

@media(max-width: 690px) {
  .faq__list-item-question-wrapper {
    font-size: 14px;
    line-height: 18px;
    padding: 23px 13px 20px 10px;
  }

  .faq__list-item-text-wrapper {
    padding: 0 10px;
    font-size: 14px;
    line-height: 18px;
  }

  .faq__list-item-text-wrapper_active {
    height: 140px;
    padding: 40px 13px 20.5px 10px;
  }
}

@media(max-width: 460px) {
  .faq {
    padding: 15px 0 23px;
  }
  
  .faq__container {
    min-height: 247px;
  }
  
  .faq__title {
    height: 18px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
  }
  
  .faq__list {
    gap: 10px;
  }
  
  .faq__list-item-question-wrapper {
    height: 46px;
    font-size: 12px;
    line-height: 16px;
    padding: 7px 13px 7px 13px;
  }

  .faq__list-item-question {
    display: block;
    max-width: 220px;
  }

  .faq__list-item-question-button {
    width: 30px;
    height: 30px;
  }

  .faq__list-item-question-button_even, .faq__list-item-question-button_odd {
    background-size: contain;
  }

  .faq__list-item-question-button_even_active, .faq__list-item-question-button_odd_active {
    background-image: url("/img/open-purple_active.svg");
    background-size: contain;
  }

  /* .faq__list-item:nth-child(even)::after {
    content: "";
    width: 30px;
    height: 30px;
    background: url("/img/open-purple.svg") center center/cover no-repeat;;
  }

  .faq__list-item:nth-child(odd)::after {
    content: "";
    width: 30px;
    height: 30px;
    background: url("/img/open-purple.svg") center center/cover no-repeat;;
  } */
}