.header {
  padding: 30px 0 25px;
}

.header__container {
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  position: relative;
  display: none;
  z-index: 3;
}

.header__menu:hover > * {
  background-color: #CD06FF;
}

.header__menu:active > *, .header__menu:focus > * {
  background-color: #840AA3;
}

.header_menu-icon {
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #6C0287;
  top: calc(50% - 2.5px);
  transition: background-color 0.4s, top 1s, width 1s, opacity 0.4s, transform 1s ;
  border-radius: 2px;
}

.header_menu-icon:nth-of-type(1) {
  top: calc(50% - 14.5px);
}

.header_menu-icon:nth-of-type(3) {
  top: calc(50% + 9.5px);
  width: 31px;
}

.header_menu-icon_active:nth-of-type(1) {
  top: calc(50%);
  transform: rotate(-45deg);
}

.header_menu-icon_active:nth-of-type(2) {
  opacity: 0;
}

.header_menu-icon_active:nth-of-type(3) {
  top: calc(50%);
  width: 100%;
  transform: rotate(45deg);
}

.header__logo {
  width: 120px;
  height: 66px;
  z-index: 3;
}

.header__button {
  width: 280px;
  height: 55px;
  border: 3px solid var(--main-focus-color);
  border-radius: 10px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  transition: background-color 0.4s, border 0.4s;
  z-index: 3;
}

.header__button:hover, .header__button:focus {
  background-color: var(--main-btn-color);
  border: 3px solid var(--main-btn-color);
}

.header__button:active {
  background-color: var(--main-active-color);
  border: 1px solid #000000;
}

.header__navigation-list {
  display: flex;
  gap: 40px;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 50px;
}

.header__navigation-item {
  z-index: 3;
}

@media(max-width: 1280px) {
  .header {
    padding: 30px 0 15px;
  }
  
  .header__container {
    height: 55px;
  }

  .header__logo {
    width: 87px;
    height: 55px;
  }
  
  .header__button {
    width: 229px;
    height: 45px;
    border-radius: 8px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .header__navigation-list {
    gap: 20px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media(max-width: 1000px) {
  .header {
    padding: 32px 0 15px;
  }

  .header__container {
    align-items: center;
  }
  
  .header__menu {
    display: block;
    height: 29px;
    width: 54px;
    cursor: pointer;
  }
  
  .header__logo {
    width: 87px;
    height: 55px;
  }

  .header__navigation {
    display: none;
  }
}

@media(max-width: 460px) {
  .header {
    padding: 20px 0 10px;
  }

  .header__container {
    height: 42px;
  }

  .header__menu {
    width: 39px;
    height: 20px;
  }

  .header_menu-icon {
    height: 3.45px;
    top: calc(50% - 1.725px);
  }

  .header_menu-icon:nth-of-type(1) {
    top: calc(50% - 10.005px);
  }
  
  .header_menu-icon:nth-of-type(3) {
    top: calc(50% + 6.555px);
    width: 22.39px;
  }

  .header_menu-icon_active:nth-of-type(1) {
    top: calc(50%);
  }
  
  .header_menu-icon_active:nth-of-type(3) {
    top: calc(50%);
    width: 100%;
  }

  .header__logo {
    width: 66px;
    height: 42px;
  }

  .header__button {
    display: none;
  }
}

