.reviews {
  padding-bottom: 100px;
}

.reviews__container {
  height: 1153px;
  width: 1240px;
}

.reviews__title {
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
}

.reviews__list-item {
  display: flex;
  gap: 20px;
  height: 319px;
  margin-bottom: 50px;
}

.reviews__fig {
  min-width: 280px;
  text-align: center;
}

.reviews__img {
  width: 100%;
  height: 280px;
  margin-bottom: 11px;
}

.reviews__figcaption {
line-height: 28px;
}

.reviews__text {
  padding-top: 52px;
  line-height: 28px;
}