.we-have {
  padding: 50px 0 50px;
}

.we-have__container {
  height: 708px;
}

.we-have__title {
  width: 882px;
  height: 103px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.we-have__card-wrapper {
  height: 565px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 228px 28px 228px;
  grid-template-areas: 
  "vr audio karaoke"
  "boardgames audio ps"
  "boardgames video ps";
  gap: 40px 20px;
}

.we-have__card-item {
  flex-basis: 380px;
  height: 228px;
  padding: 166px 0 0 40px;
  transition: transform 0.4s;
}

.we-have__card-item:hover {
  transform: scale(1.1);
}

.we-have__card-title {
  white-space: pre-wrap; 
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.we-have__card-item_vr {
  grid-area: vr;
  align-self:flex-end;
  background: url("../img/vr.png") center center/cover no-repeat;
}

.we-have__card-item_audio {
  grid-area: audio;
  align-self:flex-end;
  background: url("../img/audio_system.png") center center/cover no-repeat;
}

.we-have__card-item_karaoke {
  grid-area: karaoke;
  align-self:center;
  background: url("../img/karaoke.png") center center/cover no-repeat;
}

.we-have__card-item_boardgames {
  grid-area: boardgames;
  background: url("../img/boardgames.png") center center/cover no-repeat;
}

.we-have__card-item_video {
  grid-area: video;
  background: url("../img/movie_services.png") center center/cover no-repeat;
}

.we-have__card-item_ps {
  grid-area: ps;
  background: url("../img/playstation.png") center center/cover no-repeat;
}

@media(max-width: 1280px) {
  .we-have__card-item:nth-child(5) {
    height: 247px;
    padding: 166px 0 0 20px;
  }
}

@media(max-width: 1024px) {
  .we-have {
    padding: 42px 0 35px;
  }
  
  .we-have__container {
    height: 542px;
  }
  
  .we-have__title {
    width: 661px;
    height: 80px;
    margin-bottom: 36px;
    font-size: 30px;
    line-height: 40px;
  }
  
  .we-have__card-wrapper {
    height: 426px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 172px 22px 172px;
    grid-template-areas: 
    "vr audio karaoke"
    "boardgames audio ps"
    "boardgames video ps";
    gap: 30px 22px;
  }
  
  .we-have__card-item {
    flex-basis: 287px;
    height: 172px;
    padding: 114px 0 0 20px;
  }

  .we-have__card-item:nth-child(5) {
    height: 172px;
    padding: 83px 20px 0 20px;
  }
}

@media(max-width: 850px) {
  .we-have__card-item:nth-child(5) {
    padding: 83px 0 0 20px;
  }
}

@media(max-width: 768px) {
  .we-have {
    padding: 40px 0 30px;
  }
  
  .we-have__container {
    height: 742px;
  }
  
  .we-have__title {
    max-width: 529px;
    height: 72px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 36px;
  }
  
  .we-have__card-wrapper {
    height: 640px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "vr audio"
    "karaoke boardgames"
    "video ps";
    gap: 20px 20px;
  }
  
  .we-have__card-item {
    flex-basis: 334px;
    height: 200px;
    padding: 132px 0 0 30px;
  }

  .we-have__card-item:nth-child(5) {
    height: 200px;
    padding: 132px 0 0 30px;
  }
}

@media(max-width: 690px) {
  .we-have__card-item:nth-child(5) {
    padding: 120px 0 0 30px;
  }

  .we-have__title {
    width: 347px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media(max-width: 510px) {
  .we-have__card-item:nth-child(2) {
    padding: 85px 0 0 30px;
  }

  .we-have__card-item:nth-child(5) {
    padding: 65px 0 0 30px;
  }
}

@media(max-width: 440px) {
  .we-have {
    padding: 23px 0 15px;
  }
  
  .we-have__container {
    height: 296px;
  }

  .we-have__title {
    width: 100%;
    height: 36px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .we-have__card-wrapper {
    height: 245px;
    gap: 10px 10px;
  }
  
  .we-have__card-item {
    flex-basis: 135px;
    height: 75px;
    padding: 30px 11px 0 10px;
  }

  .we-have__card-item:nth-child(5), .we-have__card-item:nth-child(2) {
    flex-basis: 135px;
    height: 75px;
    padding: 30px 11px 0 10px;
  }

  .we-have__card-title {
    font-size: 10px;
    line-height: 14px;
  }
}
